AddDefaultCharset utf-8
#AddType text/plain;charset=utf-8 dsk cmd rec
AddType application/x.trs.cmd cmd
#AddType application/x.zx.tap tap
AddType application/x.cpc.tap tap
#AddType application/x.zx.dsk dsk 
AddType application/x.cpc.dsk dsk 
#AddType application/x.zx.rec rec
AddType application/x.cpc.rec rec
AddType application/x.zx.z80 z80
AddType application/x.cpc.sna sna
#AddType application/x.zx.rom rom
AddType application/x.cpc.rom rom
AddEncoding deflate deflate
Options SymLinksIfOwnerMatch MultiViews
ExpiresActive On
ExpiresByType image/png A86400
ExpiresByType image/x-icon A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/jpg A2592000
ExpiresByType text/html A86400
ExpiresByType text/plain A86400
ExpiresByType application/xhtml+xml A86400
ExpiresByType text/css A2592000