AddDefaultCharset utf-8
AddType text/plain;charset=utf-8 .tap .dsk .cmd .rec
AddEncoding deflate deflate
Options SymLinksIfOwnerMatch MultiViews
ExpiresActive On
ExpiresByType image/png A86400
ExpiresByType image/x-icon A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/jpg A2592000
ExpiresByType text/html A86400
ExpiresByType text/plain A86400
ExpiresByType application/xhtml+xml A86400
ExpiresByType text/css A2592000