NET "clk"       LOC = "P83" | IOSTANDARD= LVCMOS33;
NET "color<0>"  LOC = "P9"  | IOSTANDARD= LVCMOS33;
NET "color<1>"  LOC = "P6"  | IOSTANDARD= LVCMOS33;
NET "color<2>"  LOC = "P13" | IOSTANDARD= LVCMOS33;
NET "color<3>"  LOC = "P12" | IOSTANDARD= LVCMOS33;
NET "color<4>"  LOC = "P15" | IOSTANDARD= LVCMOS33;
NET "color<5>"  LOC = "P16" | IOSTANDARD= LVCMOS33;
NET "lowc<0>"   LOC = "P19" | IOSTANDARD= LVCMOS33;
NET "lowc<1>"   LOC = "P10" | IOSTANDARD= LVCMOS33;
NET "lowc<2>"   LOC = "P5"  | IOSTANDARD= LVCMOS33;
NET "sync"      LOC = "P4"  | IOSTANDARD= LVCMOS33;