net "clk"   loc = "p83" | iostandard= lvcmos33;
net "r<2>"  loc = "p15" | iostandard= lvcmos33;
net "r<1>"  loc = "p16" | iostandard= lvcmos33;
net "r<0>"  loc = "p19" | iostandard= lvcmos33;
net "g<2>"  loc = "p13" | iostandard= lvcmos33;
net "g<1>"  loc = "p12" | iostandard= lvcmos33;
net "g<0>"  loc = "p10" | iostandard= lvcmos33;
net "b<2>"  loc = "p9"  | iostandard= lvcmos33;
net "b<1>"  loc = "p6"  | iostandard= lvcmos33;
net "b<0>"  loc = "p5"  | iostandard= lvcmos33;
net "sync"  loc = "p4"  | iostandard= lvcmos33;